<template>
  <div>
    <v-card color="blue lighten-1" dark>
      <v-card-title class="headline blue lighten-2">
          Reporte de colegiatura
          <v-spacer></v-spacer>
          <v-text-field class="px-2" v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
      </v-card-title>
      <v-card-text class="pa-0">
          <v-container fluid class="pa-0">
              <v-data-table :headers="headers" :items="tuitions" :search="search" :rows-per-page-items="[20, 10, 30, 40]" class="elevation-1">
                <template v-slot:items="props">
                  <td>{{ props.item.student }}</td>
                  <td class="text-xs-center">{{ (props.item.modality == 'monthly') ? 'Mensual' : 'Semestral' }}<span v-if="props.item.modality == 'monthly'">: {{ props.item.month }}</span></td>
                  <td class="text-xs-center">${{ props.item.amount }}</td>
                  <td class="text-xs-center">{{ props.item.period }}</td>
                </template>
                <template v-slot:no-results>
                  <v-alert :value="true" color="error" icon="warning">
                    Tu busqueda de "{{ search }}" no tiene resultados.
                  </v-alert>
                </template>
              </v-data-table>
          </v-container>
      </v-card-text>
  </v-card>
    
  </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                search: '',
                dialog: false,
                headers: [
                    {
                    text: 'Alumno', align: 'left', value: 'name' },
                    {text: 'Modalidad', align: 'center', value: 'modality' },
                    {text: 'Cantidad', align: 'center', value: 'amount' },
                    {text: 'Periodo', align: 'center', value: 'period' }
                ],
                tuitions: []
            }
        },
        created: function() {
            this.loadReports();
        },
        methods: {
            loadReports: function() {
                axios.get('api/tuitions').then(response => {
                    this.tuitions = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            }
        },
        mounted() {

        }
    }
</script>
