<template>
  <v-container>
    <v-toolbar flat color="white">
        <v-btn icon class="mr-0" to="/calificaciones">
            <v-icon>arrow_back</v-icon>
        </v-btn>
      <v-toolbar-title>Captura de calificaciones</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
    </v-toolbar>
    <v-card>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-autocomplete v-model="student" :items="students" item-text="fullname" item-value="id" label="Alumno" prepend-inner-icon="person" box></v-autocomplete>
                </v-flex>
                <v-flex xs12>
                    <v-autocomplete v-model="subject" :items="subjects" item-text="subject" item-value="subject_id" label="Materia" prepend-inner-icon="book" box></v-autocomplete>
                </v-flex>
                <v-flex xs12>
                    <v-select v-model="partial" :items="partials" item-text="name" item-value="value" label="Parcial" prepend-inner-icon="av_timer" box></v-select>
                </v-flex>
                <v-flex xs12>
                    <v-text-field v-model="note" label="Calificación" prepend-inner-icon="how_to_reg" box></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-spacer></v-spacer>
                <v-btn color="info" @click="storeQualification">Guardar</v-btn>
            </v-layout>
        </v-container>
    </v-card>
  </v-container>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                students: [],
                subjects: [],
                partials: [{name: 'Parcial 1', value: '1'}, {name: 'Parcial 2', value: '2'}, {name: 'Parcial 3', value: '3'}],

                student: '',
                subject: '',
                partial: '',
                note: ''
            }
        },
        props: ['group'],
        created: function() {
            this.loadSubjects();
            this.loadStudents();
        },
        methods: {
            loadSubjects: function() {
                axios.get('api/groups/subjects/'+this.group).then(response => {
                    this.subjects = response.data;
                }).catch(error => {
                    console.log("Error", error.response.data);
                });
            },
            loadStudents: function() {
                axios.get('api/groups/students/'+this.group).then(response => {
                    this.students = response.data;
                }).catch(error => {
                    console.log("Error", error.response.data);
                });
            },
            storeQualification: function() {
                axios.post('api/qualifications', {
                    note: this.note,
                    partial: this.partial,
                    group: this.group,
                    subject: this.subject,
                    student: this.student
                }).then(response => {
                    console.log("Guardado");
                }).catch(error => {
                    console.log("Error", error.response.data);
                });
            },
            clearInputs: function() {
                this.note = "";
                this.student = "";
            }
        },
        /*watch:{
            subject(val, oldval) {
                
            }
        },*/
        mounted() {

        }
    }
</script>
