<template>
    <div>

        <v-card color="blue lighten-1" dark>
            <v-card-title class="headline blue lighten-2">
                Grupos
                <v-spacer></v-spacer>
                <v-btn color="white" light class="mb-2" @click="dialog = true">Nuevo grupo</v-btn>
            </v-card-title>
            <v-card-text class="pa-0">
                <v-container fluid class="pa-0">
                    <v-data-table :headers="headers" :items="groups" :rows-per-page-items="[20, 10, 30, 40]" class="elevation-1">
                        <template v-slot:items="props">
                            <td>{{ props.item.name }}</td>
                            <td class="text-xs-left"><span v-for="(subject, idx) in props.item.subjects_name" :key="idx+'_subject'">{{subject }}, </span></td>
                            <td class="justify-center layout px-0">
                            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                            </td>
                        </template>
                    </v-data-table>
                </v-container>
            </v-card-text>
        </v-card>

        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field v-model="editedItem.name" label="Grupo"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-select v-model="editedItem.subjects" :items="subjects" item-text="name" item-value="id" label="Asignaturas" multiple chips></v-select>
                        </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                    <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="snackbar" top right>
            {{ snackbarText }}
            <v-btn color="blue" flat @click="snackbar = false">
                Cerrar
            </v-btn>
        </v-snackbar>

    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                headers: [
                    {
                    text: 'Grupo', align: 'left', value: 'name' },
                    {text: 'Materias', value: 'subjects_name' },
                    { text: 'Acciones', align: 'center', value: 'name', sortable: false }
                ],
                groups: [],
                subjects: [],
                editedIndex: -1,
                editedItem: {
                    name: '',
                    subjects: [],
                    subjects_name: []
                },
                defaultItem: {
                    name: '',
                    subjects: [],
                    subjects_name: []
                },

                snackbar: false,
                snackbarText: ''
            }
        },
        created: function() {
            this.loadGroups();
            this.loadSubjects();
        },
        methods: {
            loadGroups: function() {
                axios.get('api/groups').then(response => {
                    this.groups = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            loadSubjects: function() {
                axios.get('api/subjects').then(response => {
                    this.subjects = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            editItem (item) {
                this.editedIndex = this.groups.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.groups.indexOf(item)
                let confirmDelete = confirm('¿Estás seguro que deseas eliminar este grupo?');
                if(confirmDelete) {
                    axios.post('api/groups/delete/'+item.id).then(response => {
                        this.groups.splice(index, 1);
                        this.snackbarText = "Grupo eliminado";
                        this.snackbar = true;
                    }).catch(error => {
                        console.log("Error", error.data);
                    });
                }
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    axios.post('api/groups/update/'+this.editedItem.id, {
                        name: this.editedItem.name,
                        subjects: this.editedItem.subjects
                    }).then(response => {
                        this.editedItem.subjects_name = response.data;
                        Object.assign(this.groups[this.editedIndex], this.editedItem)
                        this.close();
                        this.snackbarText = "Grupo actualizado";
                        this.snackbar = true;
                    }).catch(error => {
                        console.log("Error", error.data);
                    });
                } else {
                    axios.post('api/groups', {
                        name: this.editedItem.name,
                        subjects: this.editedItem.subjects
                    }).then(response => {
                        this.editedItem.id = response.data.group_id;
                        this.editedItem.subjects = response.data.subjects;
                        this.editedItem.subjects_name = response.data.subjects_name;
                        this.groups.push(this.editedItem);
                        this.close();
                        this.snackbarText = "Grupo añadido";
                        this.snackbar = true;
                    }).catch(error => {
                        console.log("Error", error);
                    });
                }
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nuevo grupo' : 'Editar grupo'
            }
        },
        watch: {
            dialog (val) {
                val || this.close()
            }
        },
        mounted() {

        }
    }
</script>
