<template>
    <div>

        <v-card color="blue lighten-1" dark>
            <v-card-title class="headline blue lighten-2">Inscripción</v-card-title>
            <v-card-text>
                <v-container grid-list-xl>
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <v-autocomplete
                                v-model="student"
                                :items="items"
                                :loading="isLoading"
                                :search-input.sync="search"
                                color="white"
                                hide-no-data
                                hide-selected
                                item-text="fullname"
                                item-value="id"
                                label="Alumno"
                                placeholder="Busca el nombre del alumno o mátrícula"
                                return-object
                            ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-text-field v-model="amount" label="Cantidad" placeholder="Cantidad a pagar" prefix="$" required></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs6>
                            <v-select v-model="period" :items="periods" item-text="name" item-value="id" label="Periodo" placeholder="Periodo al que pertenece el pago"></v-select>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-select v-model="group" :items="groups" item-text="name" item-value="id" label="Grupo" placeholder="Grupo al que se asignará el alumno"></v-select>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn :disabled="!student || !amount || !period || !group" color="white" @click="store" light>Pagar <v-icon right>payment</v-icon></v-btn>
            </v-card-actions>
        </v-card>

        <v-snackbar v-model="snackbar" top right>
            {{ snackbarText }}
            <v-btn color="blue" flat @click="snackbar = false">
                Cerrar
            </v-btn>
        </v-snackbar>

    </div>
</template>


<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                tab: null,
                valid: false,
                isLoading: false,
                search: null,
                entries: [],

                periods: [],
                groups: [],

                student: null,
                amount: '',
                period: '',
                group: '',

                snackbar: false,
                snackbarText: ''
            }
        },
        created: function() {
            this.loadPeriods();
            this.loadGroups();
        },
        methods: {
            store: function() {
                axios.post('api/inscriptions', {
                    student: this.student.id,
                    amount: this.amount,
                    period: this.period,
                    group: this.group
                }).then(response => {
                    this.clearInputs();
                    EventBus.$emit('showSnackbar', 'success', "Inscripción realizada", 'done');
                }).catch(error => {
                    EventBus.$emit('showSnackbar', 'warning', error.response.data, 'warning');
                    console.log("Error", error);
                });
            },
            loadPeriods: function() {
                axios.get('api/periods').then(response => {
                    this.periods = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            loadGroups: function() {
                axios.get('api/groups').then(response => {
                    this.groups = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            clearInputs: function() {
                this.student = "";
                this.amount = "";
                this.period = "";
                this.group = "";
            }
        },
        computed: {
            fields () {
                if (!this.student) return []

                return Object.keys(this.model).map(key => {
                    return {
                        key,
                        value: this.model[key] || 'n/a'
                    }
                })
            },
            items () {
                for(let prop in this.entries) {
                    this.entries[prop].fullname = this.entries[prop].name + " " + this.entries[prop].lastname_first + " " + this.entries[prop].lastname_second + " #" + this.entries[prop].id;
                }
                return this.entries;
            }
        },
        watch: {
            search (val)
            {
                if (this.isLoading) return

                this.isLoading = true

                // Petición
                axios.get('api/students/search/'+val).then(response => {
                    this.count = response.data.count;
                    this.entries = response.data.entries;

                    this.isLoading = false;
                }).catch(error => {
                    console.log("Error", error.response.data);
                    this.isLoading = false;
                });
            }
        }
    }
</script>
