<template>
    <div>
        <v-card v-for="(kdx, idx) in kardex" :key="idx" color="blue lighten-1" class="mb-5" dark>
            <v-card-title class="headline blue lighten-2">
                Periodo {{ kdx.name }}
            </v-card-title>
            <v-card-text class="pa-0">
                <v-container fluid class="pa-0">
                    <v-data-table :headers="headers" :items="kdx.subjects" class="elevation-1">
                        <template v-slot:items="props">
                            <td>{{ props.item.name }}</td>
                            <td>{{ (!isNaN(props.item.qualifications[0].note)) ? props.item.qualifications[0].note : "N/A" }}</td>
                            <td>{{ (typeof props.item.qualifications[1] != "undefined") ? props.item.qualifications[1].note : "N/A" }}</td>
                            <td>{{ (typeof props.item.qualifications[2] != "undefined") ? props.item.qualifications[2].note : "N/A" }}</td>
                            <td>{{ calculateFinal(props.item.qualifications[0],props.item.qualifications[1],props.item.qualifications[2]) }}</td>
                        </template>
                        <template v-slot:no-results>
                            <v-alert :value="true" color="error" icon="warning">
                                Tu busqueda de "{{ search }}" no tiene resultados.
                            </v-alert>
                        </template>
                    </v-data-table>
                </v-container>
            </v-card-text>
        </v-card>
        z</div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                headers: [
                    {text: 'Asignatura', align: 'left', value: 'subject' },
                    {text: 'Parcial 1', align: 'left', value: 'partial1' },
                    {text: 'Parcial 2', align: 'left', value: 'partial2' },
                    {text: 'Parcial 3', align: 'left', value: 'partial3' },
                    {text: 'Final', align: 'left', value: 'final' }
                ],

                kardex: []
            }
        },
        props: ['id'],
        created: function() {
            this.loadKardex();
        },
        methods: {
            loadKardex: function() {
                axios.get('api/kardex/'+this.id).then(response => {
                    this.kardex = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            calculateFinal: function(par1, par2, par3) {
                if(typeof(par1) == "undefined" || typeof(par2) == "undefined" || typeof(par3) == "undefined")
                    return "N/A";

                let r = ((parseFloat(par1.note)+parseFloat(par2.note)+parseFloat(par3.note))/3).toFixed(2);
                return r;
            }
        },
        mounted() {

        }
    }
</script>
