<template>
    <div>

        <v-card color="blue lighten-1" dark>
            <v-card-title class="headline blue lighten-2">
                Periodos
                <v-spacer></v-spacer>
                <v-btn color="white" light class="mb-2" @click="dialog = true">Nuevo periodo</v-btn>
            </v-card-title>
            <v-card-text class="pa-0">
                <v-container fluid class="pa-0">
                    <v-data-table :headers="headers" :items="periods" :rows-per-page-items="[20, 10, 30, 40]" class="elevation-1">
                        <template v-slot:items="props">
                            <td>{{ props.item.name }}</td>
                            <td class="text-xs-center">{{ props.item.active ? 'Activo' : 'Terminado' }}</td>
                            <td class="justify-center layout px-0">
                            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                            </td>
                        </template>
                    </v-data-table>
                </v-container>
            </v-card-text>
        </v-card>

        <v-dialog v-model="dialog" scrollable max-width="500px">
            <v-card>
                <v-card-title>{{ formTitle }}</v-card-title>
                <v-divider></v-divider>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field v-model="editedItem.name" label="Periodo" box></v-text-field>
                        </v-flex>
                        <v-flex xs12 v-if="editedIndex > -1">
                            <v-select v-model="editedItem.active" :items="[{name: 'Cerrado', value: 0}, {name: 'Abierto', value: 1}]" item-text="name" item-value="value" box label="Estado"></v-select>
                        </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                    <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="snackbar" top right>
            {{ snackbarText }}
            <v-btn color="blue" flat @click="snackbar = false">
                Cerrar
            </v-btn>
        </v-snackbar>
    
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                headers: [
                    {
                    text: 'Periodo', align: 'left', value: 'name' },
                    {text: 'Estado', align: 'center', value: 'active' },
                    { text: 'Actions', align: 'center', value: 'name', sortable: false }
                ],
                periods: [],
                editedIndex: -1,
                editedItem: {
                    name: '',
                    active: 0
                },
                defaultItem: {
                    name: '',
                    active: 0
                },

                snackbar: false,
                snackbarText: ''
            }
        },
        created: function() {
            this.loadPeriods();
        },
        methods: {
            loadPeriods: function() {
                axios.get('api/periods/all').then(response => {
                    this.periods = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            editItem (item) {
                this.editedIndex = this.periods.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.periods.indexOf(item)
                let confirmDelete = confirm('¿Estás seguro que deseas eliminar este periodo?');
                if(confirmDelete) {
                    axios.post('api/periods/delete/'+item.id).then(response => {
                        this.periods.splice(index, 1);
                        this.snackbarText = "Periodo eliminado";
                        this.snackbar = true;
                    }).catch(error => {
                        console.log("Error", error.data);
                    });
                }
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    axios.post('api/periods/update/'+this.editedItem.id, {
                        name: this.editedItem.name,
                        active: this.editedItem.active
                    }).then(response => {
                        Object.assign(this.periods[this.editedIndex], this.editedItem)
                        this.close();
                        EventBus.$emit('showSnackbar', 'success', "Periodo actualizado", 'done');
                    }).catch(error => {
                        EventBus.$emit('showSnackbar', 'warning', error.response.data, 'warning');
                    });
                } else {
                    axios.post('api/periods', {
                        name: this.editedItem.name
                    }).then(response => {
                        this.editedItem.id = response.data;
                        this.periods.push(this.editedItem);
                        this.close();
                        EventBus.$emit('showSnackbar', 'success', "Periodo añadido", 'done');
                    }).catch(error => {
                        EventBus.$emit('showSnackbar', 'warning', error.response.data, 'warning');
                    });
                }
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nuevo periodo' : 'Editar periodo'
            }
        },
        watch: {
            dialog (val) {
                val || this.close()
            }
        },
        mounted() {

        }
    }
</script>
