<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Captura de calificaciones</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
    </v-toolbar>
    <v-data-table :headers="headers" :items="groups" class="elevation-1">
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td class="justify-center layout px-0">
            <v-btn depressed small color="primary" :to="'calificaciones/'+props.item.id">Capturar calificaciones</v-btn>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                headers: [
                    {
                    text: 'Grupo', align: 'left', value: 'group' },
                    { text: 'Acciones', align: 'center', sortable: false }
                ],
                groups: [],
            }
        },
        created: function() {
            this.loadGroups();
        },
        methods: {
            loadGroups: function() {
                axios.get('api/groups').then(response => {
                    this.groups = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
        },
        mounted() {

        }
    }
</script>
