<template>
  <div>
      <v-layout>
          <v-spacer></v-spacer>
      </v-layout>
      <v-card color="blue lighten-1" dark>
        <v-card-title class="headline blue lighten-2">
            Alumno
            <v-spacer></v-spacer>
            <v-text-field v-model="search" label="Buscar alumnos..." background-color="#439ee6" prepend-inner-icon="search" solo-inverted flat hide-details class="nav-input-search mr-2"></v-text-field>
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                    <v-btn v-on="on" flat icon color="white" @click="dialogStudent = true"><v-icon>person_add</v-icon></v-btn>
                </template>
                <span>Nuevo alumno</span>
            </v-tooltip>
            
        </v-card-title>
        <v-card-text class="pa-0">
            <v-container fluid class="pa-0">
                <v-data-table color="blue" :headers="headers" :items="students" :search="search" :rows-per-page-items='[30, 40, 50, {"text":"Todo","value":-1}]' no-data-text="No se encontraron resultados" rows-per-page-text="Resultados por página" class="elevation-1">
                    <template v-slot:items="props">
                        <td>{{ props.item.id }}</td>
                        <td>{{ props.item.name+" "+props.item.lastname_first+" "+props.item.lastname_second }}</td>
                        <td>{{ props.item.email }}</td>
                        <td>{{ props.item.group }}</td>
                        <td>{{ props.item.period }}</td>
                        <td>{{ props.item.active ? 'Activo' : 'Inactivo' }}</td>
                        <td class="justify-center layout px-0">
                        <v-btn flat icon depressed :to="'estudiantes/kardex/'+props.item.id">
                            <v-icon small color="grey">assignment</v-icon>
                        </v-btn>
                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                        </td>
                    </template>
                    <template v-slot:no-results>
                        <v-alert :value="true" color="error" icon="warning">
                        Tu busqueda de "{{ search }}" no tiene resultados.
                        </v-alert>
                    </template>
                </v-data-table>
            </v-container>
        </v-card-text>
    </v-card>

    <v-dialog v-model="dialogStudent" scrollable persistent max-width="900px" :width="($vuetify.breakpoint.xsOnly) ? '100%' : '80%'">
        <v-card>
        <v-card-title>
            {{ formTitle }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
            <v-container grid-list-md class="py-0 px-1">
                <v-layout>
                    <p class="mb-0 grey--text text--darken-1">Datos de alumno</p>
                </v-layout>
                <v-layout wrap>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.name" label="Nombre(s) *"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.lastname_first" label="Apellido paterno"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.lastname_second" label="Apellido materno"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.enrollment" label="Matrícula"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.curp" label="CURP"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.phone" label="Celular"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.origin_school" label="Escuela de procedencia"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.school_origin_average" label="Promedio"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.birthdate" label="Fecha de nacimiento (DD/MM/AAAA)" mask="date" return-masked-value></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.birthplace" label="Lugar de nacimiento"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-select v-model="editedItem.blood_type" :items="bloodType" item-text="name" item-value="value" label="Tipo de sangre"></v-select>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <div><span style="font-family: Roboto; color: gray; font-size: 16px;">Sexo</span></div>
                        <v-radio-group v-model="editedItem.gender" row class="pt-0 mt-1">
                            <v-radio label="Masculino" value="male"></v-radio>
                            <v-radio label="Femenino" value="female"></v-radio>
                        </v-radio-group>
                    </v-flex>

                    
                </v-layout>

                <v-layout>
                    <p class="mb-0 grey--text text--darken-1">Cuenta de alumno</p>
                </v-layout>
                <v-layout wrap>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.email" label="Correo electrónico"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.password" label="Contraseña" type="password"></v-text-field>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <p class="mb-0 grey--text text--darken-1">Domicilio de alumno</p>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.address_street" label="Calle"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.address_number" label="Número de casa"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.address_colony" label="Colonia"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.address_zip" label="Código postal"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.address_phone" label="Teléfono"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.address_roomiename" label="Vive con"></v-text-field>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <p class="pb-0 grey--text text--darken-1">Datos de tutor</p>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.tutor_name" label="Nombre"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.tutor_occupation" label="Ocupación"></v-text-field>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <p class="pb-0 grey--text text--darken-1">Personas que autorizan para que el alumno se ausente del plantel</p>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-text-field v-model="editedItem.missing_tutor_fullname_1" label="Nombre (Referencia 1)"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.missing_tutor_relationship_1" label="Parentesco"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.missing_tutor_phone_1" label="Teléfono"></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-text-field v-model="editedItem.missing_tutor_fullname_2" label="Nombre (Referencia 2)"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.missing_tutor_relationship_2" label="Parentesco"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.missing_tutor_phone_2" label="Teléfono"></v-text-field>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <p class="pb-0 grey--text text--darken-1">Documentos</p>
                </v-layout>


                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Acta de nacimiento
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox v-model="editedItem.birth_certificate_original" label="Original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesBirthCertificate.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('birthCertificate')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Certificado de secundaria
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox v-model="editedItem.highschool_certificate_original" label="Original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesHighschoolCertificarte.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('highschoolCertificate')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            CURP
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox v-model="editedItem.curp_original" label="Original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesCURP.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('CURP')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Certificado parcial
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox v-model="editedItem.partial_certificate_original" label="Original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesPartialCertificate.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('partialCertificate')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Historial académico
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox v-model="editedItem.academic_history_original" label="Original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesAcademicHistory.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('academicHistory')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Comprobante de domicilio
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Original" v-model="editedItem.proof_address_original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesProofAddress.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('proofAddress')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Fotografías T/Infantil B&N
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Original" v-model="editedItem.child_photography_original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesChildPhotography.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('childPhotography')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Carta de buena conducta
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Original" v-model="editedItem.good_conduct_original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesGoodConduct.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('goodConduct')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Número de seguridad social
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Original" v-model="editedItem.social_security_original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesSocialSecurity.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('socialSecurity')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Antidoping
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Original" v-model="editedItem.antidoping_original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesAntidoping.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('antidoping')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>

                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Pago de equivalencia
                        </v-chip>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Original" v-model="editedItem.equivalence_payment_original"></v-checkbox>
                    </v-flex>
                    <v-flex xs3>
                        <v-checkbox label="Copia digital" :input-value="imagesEquivalencePayment.length > 0" value disabled></v-checkbox>
                    </v-flex>
                    <v-flex xs2 class="text-xs-right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="cyan" @click="openDialogImages('equivalencePayment')">
                                    <v-icon>add_photo_alternate</v-icon>
                                </v-btn>
                            </template>
                            <span>Añadir copias digitales</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
                
                <v-layout align-center row>
                    <v-flex xs4>
                        <v-chip color="red lighten-4" class="ml-0" label small>
                            Firmó reglamento
                        </v-chip>
                    </v-flex>
                    <v-flex sm5 md3>
                        <v-radio-group v-model="editedItem.regulation" style="width: 100% !important;">
                        <v-radio label="Sí" value="yes"></v-radio>
                        </v-radio-group>
                    </v-flex>
                    <v-flex no-wrap xs5 sm3>
                        <v-radio-group v-model="editedItem.regulation" style="width: 100% !important;">
                        <v-radio label="No" value="no"></v-radio>
                        </v-radio-group>
                    </v-flex>
                </v-layout>
                
                <v-divider></v-divider>

            </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="dialogImages" scrollable persistent max-width="500px">
        <v-card>
            <v-card-title>
                Subir imágenes
                <v-spacer></v-spacer>
                <input type="file" multiple accept="image/*" @change="handleSelects($event, 'birthCertificate')" ref="fileInput" style="display: none;">
                <v-btn color="blue-grey" class="white--text" small flat @click="examineImages">
                    Seleccionar imágenes...
                    <v-icon right dark>image_search</v-icon>
                </v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 300px;">
                <v-container grid-list-sm fluid>
                    <v-layout row wrap v-if="currentDialogImages == 'birthCertificate'">
                        <v-flex v-for="(image, idx) in imagesBirthCertificate" :key="'birthCertificate_'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'highschoolCertificate'">
                        <v-flex v-for="(image, idx) in imagesHighschoolCertificarte" :key="'highschoolCertificate'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'CURP'">
                        <v-flex v-for="(image, idx) in imagesCURP" :key="'CURP'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'partialCertificate'">
                        <v-flex v-for="(image, idx) in imagesPartialCertificate" :key="'partialCertificate'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'academicHistory'">
                        <v-flex v-for="(image, idx) in imagesAcademicHistory" :key="'academicHistory'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'proofAddress'">
                        <v-flex v-for="(image, idx) in imagesProofAddress" :key="'proofAddress'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'childPhotography'">
                        <v-flex v-for="(image, idx) in imagesChildPhotography" :key="'childPhotography'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'goodConduct'">
                        <v-flex v-for="(image, idx) in imagesGoodConduct" :key="'goodConduct'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'socialSecurity'">
                        <v-flex v-for="(image, idx) in imagesSocialSecurity" :key="'socialSecurity'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'antidoping'">
                        <v-flex v-for="(image, idx) in imagesAntidoping" :key="'antidoping'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="currentDialogImages == 'equivalencePayment'">
                        <v-flex v-for="(image, idx) in imagesEquivalencePayment" :key="'equivalencePayment'+idx" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                                <v-img :src="image" :lazy-src="image" aspect-ratio="1" class="grey lighten-2">
                                    <template v-slot:placeholder>
                                        <v-layout fill-height align-center justify-center ma-0>
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-layout>
                                    </template>
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="warning darken-1" flat @click="clearImages">Limpiar</v-btn>
                <v-btn color="blue darken-1" flat @click="dialogImages = false">Aceptar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

  </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialogStudent: false,
                dialogImages: false,
                headers: [
                    {text: 'Matrícula', align: 'left', value: 'enrollment' },
                    {text: 'Nombre', align: 'left', value: 'name' },
                    {text: 'Correo electrónico', align: 'left', value: 'email' },
                    {text: 'Grupo', align: 'left', value: 'group' },
                    {text: 'Periodo', align: 'left', value: 'period' },
                    {text: 'Estado', align: 'left', value: 'active' },
                    { text: 'Acciones', align: 'center', value: 'actions', sortable: false }
                ],
                search: '',
                students: [],

                bloodType: [
                    {name: 'Sin especificar', value: null},
                    {name: 'O negativo', value: 'O negative'}, {name: 'O positivo', value: 'O positive'},
                    {name: 'A negativo', value: 'A negative'}, {name: 'A positivo', value: 'A positive'},
                    {name: 'B negativo', value: 'B negative'}, {name: 'B positivo', value: 'B positive'},
                    {name: 'AB negativo', value: 'AB negative'}, {name: 'AB positivo', value: 'AB positive'},
                    {name: 'Otro', value: 'other'}
                ],

                currentDialogImages: '',
                imagesBirthCertificate:[],
                imagesHighschoolCertificarte:[],
                imagesCURP: [],
                imagesPartialCertificate:[],
                imagesAcademicHistory: [],
                imagesProofAddress: [],
                imagesChildPhotography: [],
                imagesGoodConduct: [],
                imagesSocialSecurity: [],
                imagesAntidoping: [],
                imagesEquivalencePayment: [],

                editedIndex: -1,
                editedItem: {
                    name: '',
                    lastname_first: '',
                    lastname_second: '',
                    enrollment: '',
                    curp: '',
                    phone: '',
                    origin_school: '',
                    school_origin_average: '',
                    
                    birthdate: '',
                    birthplace: '',
                    blood_type: '',
                    gender: '',

                    email: '',
                    password: '',
                    
                    address_street: '',
                    address_number: '',
                    address_colony: '',
                    address_zip: '',
                    address_phone: '',
                    address_roomiename: '',

                    tutor_name: '',
                    tutor_occupation: '',

                    missing_tutor_fullname_1: '',
                    missing_tutor_relationship_1: '',
                    missing_tutor_phone_1: '',
                    missing_tutor_fullname_2: '',
                    missing_tutor_relationship_2: '',
                    missing_tutor_phone_2: '',

                    birth_certificate_original: false,
                    highschool_certificate_original: false,
                    curp_original: false,
                    partial_certificate_original: false,
                    academic_history_original: false,
                    proof_address_original: false,
                    child_photography_original: false,
                    good_conduct_original: false,
                    social_security_original: false,
                    antidoping_original: false,
                    equivalence_payment_original: false,

                    regulation: '',
                    
                },
                defaultItem: {
                    name: '',
                    lastname_first: '',
                    lastname_second: '',
                    enrollment: '',
                    curp: '',
                    phone: '',
                    origin_school: '',
                    school_origin_average: '',
                    
                    birthdate: '',
                    birthplace: '',
                    blood_type: '',
                    gender: '',

                    email: '',
                    password: '',
                    
                    address_street: '',
                    address_number: '',
                    address_colony: '',
                    address_zip: '',
                    address_phone: '',
                    address_roomiename: '',

                    tutor_name: '',
                    tutor_occupation: '',

                    missing_tutor_fullname_1: '',
                    missing_tutor_relationship_1: '',
                    missing_tutor_phone_1: '',
                    missing_tutor_fullname_2: '',
                    missing_tutor_relationship_2: '',
                    missing_tutor_phone_2: '',

                    birth_certificate_original: false,
                    highschool_certificate_original: false,
                    curp_original: false,
                    partial_certificate_original: false,
                    academic_history_original: false,
                    proof_address_original: false,
                    child_photography_original: false,
                    good_conduct_original: false,
                    social_security_original: false,
                    antidoping_original: false,
                    equivalence_payment_original: false,

                    regulation: '',
                },

                snackbar: false,
                snackbarText: ''
            }
        },
        created: function() {
            this.loadStudents();
        },
        methods: {
            loadStudents: function() {
                axios.get('api/students').then(response => {
                    this.students = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            editItem (item) {
                this.editedIndex = this.students.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogStudent = true
            },

            deleteItem (item) {
                const index = this.students.indexOf(item)
                let confirmDelete = confirm('¿Estás seguro que deseas eliminar este alumno?');
                if(confirmDelete) {
                    axios.post('api/students/delete/'+item.id).then(response => {
                        this.students.splice(index, 1);

                        EventBus.$emit('showSnackbar', 'success', "Alumno eliminado", 'done');
                    }).catch(error => {
                        if(typeof error.response.data.errors !== 'undefined') {
                            let errors = error.response.data.errors;
                            EventBus.$emit('showSnackbar', 'warning', errors[Object.keys(errors)[0]][0]);
                        } else {
                            EventBus.$emit('showSnackbar', 'error', 'Oops, ocurrió un error.');
                        }
                    });
                }
            },

            close () {
                this.dialogStudent = false
                setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    axios.post('api/students/update/'+this.editedItem.id, {
                        name:               this.editedItem.name,
                        lastname_first:     this.editedItem.lastname_first,
                        lastname_second:    this.editedItem.lastname_second,
                        enrollment:         this.editedItem.enrollment,
                        curp:               this.editedItem.curp,
                        birthdate:          this.editedItem.birthdate,
                        birthplace:         this.editedItem.birthplace,
                        gender:             this.editedItem.gender,
                        email:              this.editedItem.email,
                        password:           this.editedItem.password,
                        phone:              this.editedItem.phone,
                        address:            this.editedItem.address
                    }).then(response => {
                        Object.assign(this.students[this.editedIndex], this.editedItem)
                        this.close();
                        EventBus.$emit('showSnackbar', 'success', "Alumno actualizado", 'done');
                    }).catch(error => {
                        if(typeof error.response.data.errors !== 'undefined') {
                            let errors = error.response.data.errors;
                            EventBus.$emit('showSnackbar', 'warning', errors[Object.keys(errors)[0]][0]);
                        } else {
                            EventBus.$emit('showSnackbar', 'error', 'Oops, ocurrió un error.');
                        }
                    });
                } else {
                    axios.post('api/students', {
                        name:                   this.editedItem.name,
                        lastname_first:         this.editedItem.lastname_first,
                        lastname_second:        this.editedItem.lastname_second,
                        enrollment:             this.editedItem.enrollment,
                        curp:                   this.editedItem.curp,
                        phone:                  this.editedItem.phone,
                        origin_school:          this.editedItem.origin_school,
                        school_origin_average:  this.editedItem.school_origin_average,
                        
                        birthdate:              this.editedItem.birthdate,
                        birthplace:             this.editedItem.birthplace,
                        blood_type: '',
                        gender:                 this.editedItem.gender,

                        email:                  this.editedItem.email,
                        password:               this.editedItem.password,
                        
                        address_street:         this.editedItem.address_street,
                        address_number:         this.editedItem.address_number,
                        address_colony:         this.editedItem.address_colony,
                        address_zip:            this.editedItem.address_zip,
                        address_phone:          this.editedItem.address_phone,
                        address_roomiename:     this.editedItem.address_roomiename,

                        tutor_name:                     this.editedItem.name,
                        tutor_occupation:               this.editedItem.tutor_occupation,

                        missing_tutor_fullname_1:       this.editedItem.missing_tutor_fullname_1,
                        missing_tutor_relationship_1:   this.editedItem.missing_tutor_relationship_1,
                        missing_tutor_phone_1:          this.editedItem.missing_tutor_phone_1,
                        missing_tutor_fullname_2:       this.editedItem.missing_tutor_fullname_2,
                        missing_tutor_relationship_2:   this.editedItem.missing_tutor_relationship_2,
                        missing_tutor_phone_2:          this.editedItem.missing_tutor_phone_2,

                        birth_certificate_original:         this.editedItem.birth_certificate_original,
                        highschool_certificate_original:    this.editedItem.highschool_certificate_original,
                        curp_original:                      this.editedItem.curp_original,
                        partial_certificate_original:       this.editedItem.partial_certificate_original,
                        academic_history_original:          this.editedItem.academic_history_original,
                        proof_address_original:             this.editedItem.proof_address_original,
                        child_photography_original:         this.editedItem.child_photography_original,
                        good_conduct_original:              this.editedItem.good_conduct_original,
                        social_security_original:           this.editedItem.social_security_original,
                        antidoping_original:                this.editedItem.antidoping_original,
                        equivalence_payment_original:       this.editedItem.equivalence_payment_original,

                        regulation:                         this.editedItem.regulation
                    }).then(response => {
                        this.editedItem.id = response.data;
                        this.editedItem.group = "Ninguno";
                        this.editedItem.period = "Ninguno";
                        this.students.push(this.editedItem);
                        this.close();
                        
                        EventBus.$emit('showSnackbar', 'success', "Alumno añadido", 'done');
                    }).catch(error => {
                        if(typeof error.response.data.errors !== 'undefined') {
                            let errors = error.response.data.errors;
                            EventBus.$emit('showSnackbar', 'warning', errors[Object.keys(errors)[0]][0]);
                        } else {
                            EventBus.$emit('showSnackbar', 'error', 'Oops, ocurrió un error.');
                        }
                    });
                }
            },
            openDialogImages(type) {
                this.currentDialogImages = type;
                this.dialogImages = true;
            },
            examineImages()  {
                this.$refs.fileInput.click();
            },
            handleSelects(e, type) {
                let images = null;
                if(this.currentDialogImages == 'birthCertificate')
                    images = this.imagesBirthCertificate;
                else if(this.currentDialogImages == 'highschoolCertificate')
                    images = this.imagesHighschoolCertificarte;
                else if(this.currentDialogImages == 'CURP')
                    images = this.imagesCURP;
                else if(this.currentDialogImages == 'partialCertificate')
                    images = this.imagesPartialCertificate;
                else if(this.currentDialogImages == 'academicHistory')
                    images = this.imagesAcademicHistory;
                else if(this.currentDialogImages == 'proofAddress')
                    images = this.imagesProofAddress;
                else if(this.currentDialogImages == 'childPhotography')
                    images = this.imagesChildPhotography;
                else if(this.currentDialogImages == 'goodConduct')
                    images = this.imagesGoodConduct;
                else if(this.currentDialogImages == 'socialSecurity')
                    images = this.imagesSocialSecurity;
                else if(this.currentDialogImages == 'antidoping')
                    images = this.imagesAntidoping;
                else if(this.currentDialogImages == 'equivalencePayment')
                    images = this.imagesEquivalencePayment;

                images = [];
                let fileList = Array.prototype.slice.call(e.target.files);
                fileList.forEach(f => {
                    if(!f.type.match("image.*")) {
                        return;
                    }

                    let reader = new FileReader();

                    let thatImages = null;
                    if(this.currentDialogImages == 'birthCertificate')
                        thatImages = this.imagesBirthCertificate;
                    else if(this.currentDialogImages == 'highschoolCertificate')
                        thatImages = this.imagesHighschoolCertificarte;
                    else if(this.currentDialogImages == 'CURP')
                        thatImages = this.imagesCURP;
                    else if(this.currentDialogImages == 'partialCertificate')
                        thatImages = this.imagesPartialCertificate;
                    else if(this.currentDialogImages == 'academicHistory')
                        thatImages = this.imagesAcademicHistory;
                    else if(this.currentDialogImages == 'proofAddress')
                        thatImages = this.imagesProofAddress;
                    else if(this.currentDialogImages == 'childPhotography')
                        thatImages = this.imagesChildPhotography;
                    else if(this.currentDialogImages == 'goodConduct')
                        thatImages = this.imagesGoodConduct;
                    else if(this.currentDialogImages == 'socialSecurity')
                        thatImages = this.imagesSocialSecurity;
                    else if(this.currentDialogImages == 'antidoping')
                        thatImages = this.imagesAntidoping;
                    else if(this.currentDialogImages == 'equivalencePayment')
                        thatImages = this.imagesEquivalencePayment;
                        
                    reader.onload = function (e) {
                        thatImages.push(e.target.result);
                    }
                    reader.readAsDataURL(f); 
                });
            },
            clearImages() {
                if(this.currentDialogImages == 'birthCertificate')
                    this.imagesBirthCertificate = [];
                else if(this.currentDialogImages == 'highschoolCertificate')
                    this.imagesHighschoolCertificarte = [];
                else if(this.currentDialogImages == 'CURP')
                    this.imagesCURP = [];
                else if(this.currentDialogImages == 'partialCertificate')
                    this.imagesPartialCertificate = [];
                else if(this.currentDialogImages == 'academicHistory')
                    this.imagesAcademicHistory = [];
                else if(this.currentDialogImages == 'proofAddress')
                    this.imagesProofAddress = [];
                else if(this.currentDialogImages == 'childPhotography')
                    this.imagesChildPhotography = [];
                else if(this.currentDialogImages == 'goodConduct')
                    this.imagesGoodConduct = [];
                else if(this.currentDialogImages == 'socialSecurity')
                    this.imagesSocialSecurity = [];
                else if(this.currentDialogImages == 'antidoping')
                    this.imagesAntidoping = [];
                else if(this.currentDialogImages == 'equivalencePayment')
                    this.imagesEquivalencePayment = [];
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nuevo alumno' : 'Editar alumno'
            }
        },
        watch: {
            dialogStudent (val) {
                val || this.close()
            }
        },
        mounted() {

        }
    }
</script>
