<template>
  <div>

    <v-card color="blue lighten-1" dark>
        <v-card-title class="headline blue lighten-2">
            Asignaturas
            <v-spacer></v-spacer>
            <v-btn color="white" light class="mb-2" @click="dialog = true">Nueva asignatura</v-btn>
        </v-card-title>
        <v-card-text class="pa-0">
            <v-container fluid class="pa-0">
                <v-data-table :headers="headers" :items="subjects" :rows-per-page-items="[20, 10, 30, 40]" class="elevation-1">
                    <template v-slot:items="props">
                        <td>{{ props.item.name }}</td>
                        <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                        </td>
                    </template>
                </v-data-table>
            </v-container>
        </v-card-text>
    </v-card>
    
    <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="editedItem.name" label="Asignatura"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-snackbar v-model="snackbar" top right>
        {{ snackbarText }}
        <v-btn color="blue" flat @click="snackbar = false">
            Cerrar
        </v-btn>
    </v-snackbar>

  </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                headers: [
                    {
                    text: 'Asignatura', align: 'left', value: 'name' },
                    { text: 'Acciones', align: 'center', value: 'name', sortable: false }
                ],
                subjects: [],
                editedIndex: -1,
                editedItem: {
                    name: ''
                },
                defaultItem: {
                    name: ''
                },

                snackbar: false,
                snackbarText: ''
            }
        },
        created: function() {
            this.loadSubjects();
        },
        methods: {
            loadSubjects: function() {
                axios.get('api/subjects').then(response => {
                    this.subjects = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            editItem (item) {
                this.editedIndex = this.subjects.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.subjects.indexOf(item)
                let confirmDelete = confirm('¿Estás seguro que deseas eliminar esta asignatura?');
                if(confirmDelete) {
                    axios.post('api/subjects/delete/'+item.id).then(response => {
                        this.subjects.splice(index, 1);
                        this.snackbarText = "Asignatura eliminada";
                        this.snackbar = true;
                    }).catch(error => {
                        console.log("Error", error.data);
                    });
                }
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    axios.post('api/subjects/update/'+this.editedItem.id, {
                        name: this.editedItem.name
                    }).then(response => {
                        Object.assign(this.subjects[this.editedIndex], this.editedItem)
                        this.close();
                        this.snackbarText = "Asignatura actualizada";
                        this.snackbar = true;
                    }).catch(error => {
                        console.log("Error", error.data);
                    });
                } else {
                    axios.post('api/subjects', {
                        name: this.editedItem.name
                    }).then(response => {
                        this.editedItem.id = response.data;
                        this.subjects.push(this.editedItem);
                        this.close();
                        this.snackbarText = "Asignatura añadida";
                        this.snackbar = true;
                    }).catch(error => {
                        console.log("Error", error);
                    });
                }
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nueva asignatura' : 'Editar asignatura'
            }
        },
        watch: {
            dialog (val) {
                val || this.close()
            }
        },
        mounted() {

        }
    }
</script>
