<template>
    <div>
        <v-container fluid style="height: calc(100vh - 112px)">
            <v-layout align-center justify-center row fill-height>
                <v-flex xs12>
                    <p class="text-xs-center grey--text" style="font-size: 36px">Bienvenido</p>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
