<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <v-navigation-drawer v-model="sidebar_drawer" :clipped="sidebar_clipped" app enable-resize-watcher light>
            <v-card img="https://s3.envato.com/files/120334242/Preview%20image%20set/blue-grey-light-blue.png" height="150" class="elevation-0 text-xs-center">
                <v-icon style="font-size: 64px; margin-top: 25px">school</v-icon>
                <p style="font-size: 18px" class="text-xs-center">Benito Juárez</p>
            </v-card>

            <v-list class="pt-3" dense>
                <v-list-tile to="/">
                    <v-list-tile-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Resumen</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/estudiantes">
                    <v-list-tile-action>
                        <v-icon>person</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Alumnos</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <!--v-list-group prepend-icon="person">
                    <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Alumnos</v-list-tile-title>
                        </v-list-tile>
                    </template>

                    <v-list-tile to="/estudiantes/alta">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Altas</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/estudiantes/baja">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Bajas</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/estudiantes/consulta">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Consultas</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/estudiantes/modificar">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Modificaciones</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group-->

                <v-list-tile to="/asignaturas">
                    <v-list-tile-action>
                        <v-icon>book</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Asignaturas</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/grupos">
                    <v-list-tile-action>
                        <v-icon>group</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Grupos</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/periodos">
                    <v-list-tile-action>
                        <v-icon>event</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Periodos</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-group prepend-icon="attach_money">
                    <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Pagos</v-list-tile-title>
                        </v-list-tile>
                    </template>

                    <v-list-tile to="/pagos/colegiatura">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Colegiatura</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <!--v-list-tile to="/pagos/constancia">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Constancias</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile-->

                    <v-list-tile to="/pagos/inscripcion">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Inscripción</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/pagos/reinscripcion">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Reinscripción</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>

                <v-list-group prepend-icon="assessment">
                    <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Reportes</v-list-tile-title>
                        </v-list-tile>
                    </template>

                    <v-list-tile to="/reportes/colegiatura">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Colegiatura</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/reportes/inscripcion">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Inscripción</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/reportes/reinscripcion">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Reinscripción</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>

                <!--v-list-tile to="/corte">
                    <v-list-tile-action>
                        <v-icon>receipt</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Corte</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile-->

                <!--v-list-group prepend-icon="keyboard_arrow_right">
                    <template v-slot:activator="">
                        <v-list-tile>
                            <v-list-tile-title>Reportes</v-list-tile-title>
                        </v-list-tile>
                    </template>

                    <v-list-tile to="/reporte/colegiatura">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Colegiatura</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/reporte/historial">
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Historial</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group-->

                <v-divider></v-divider>

                <v-list-tile to="/calificaciones">
                    <v-list-tile-action>
                        <v-icon>how_to_reg</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Calificaciones</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="blue lighten-1" app fixed dark :clipped-left="sidebar_clipped" class="elevation-1">
            <v-toolbar-side-icon @click.stop="sidebar_drawer = !sidebar_drawer"></v-toolbar-side-icon>

            <!--v-text-field label="Encuentre funciones rápidamente escribiéndolas aquí" background-color="#2196f3" solo-inverted flat hide-details class="nav-input-search"></v-text-field-->

            <v-spacer></v-spacer>

            <!--v-menu offset-y origin="center center" transition="slide-y-transition" :close-on-content-click="false">
                <template v-slot:activator="{ on }">
                    <v-btn small outline fab color="white" v-on="on">
                        <v-icon>person_outline</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile href="">
                        <v-list-tile-title>Cerrar sesión</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu-->
            <span>Administrador</span>
            <v-btn outline color="white" style="font-size: 11px;" @click.prevent="logout">Cerrar sesión</v-btn>

            <template>
                <v-menu offset-y origin="center center" transition="slide-y-transition" :close-on-content-click="false">
                    <template>
                        <v-btn small outline fab color="blue">
                            <v-icon>notifications_none</v-icon>
                        </v-btn>
                    </template>
                </v-menu>
            </template>

            <v-menu offset-y open-on-hover origin="center center" transition="scale-transition">
                <v-card>
                    <v-card-text>
                        <p class="text-xs-center body-2"><b>Necesitas ayuda</b></p>
                        <p class="text-xs-center body-1 ma-0">(646) 208 ----</p>
                        <p class="text-xs-center caption font-italic ma-0">(10AM a 8PM)</p>
                    </v-card-text>
                </v-card>
            </v-menu>
        </v-toolbar>
    </div>
</template>


<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                sidebar_drawer: null,
                sidebar_clipped: false,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        },
        created: function() {

        },
        methods: {
            logout: function() {
                axios.post('logout').then(response => {
                    document.location.reload(true);
                }).catch(error => {
                    document.location.reload(true);
                });
            },
        },
        mounted() {
        }
    }
</script>
