<template>
  <v-snackbar v-model="snackbar.active" :color="snackbar.color" :timeout="snackbar.timeout" top right>
      <v-icon v-if="snackbar.icon" class="mr-2">{{ snackbar.icon }}</v-icon>
      {{ snackbar.text }}
      <v-btn dark flat @click="snackbar.active = false">
          Cerrar
      </v-btn>
  </v-snackbar>
</template>

<script>
  export default {
    data () {
      return {
        snackbar: {
            active: false,
            color: 'error',
            text: 'Error',
            icon: null,
            timeout: 6000
        }
      }
    },
    methods: {
        showSnackbar: function(color, msg, icon = null) {
            this.snackbar.color = color;
            this.snackbar.text = msg;
            this.snackbar.active = true;
            this.snackbar.icon = icon;
        }
    },
    computed: {

    },
    mounted() {
        EventBus.$on('showSnackbar', (type, msg, icon = null) => {
            this.showSnackbar(type, msg, icon);
        });
    }
  }
</script>