<template>
    <div>
        <v-card color="blue lighten-1" dark>
            <v-card-title class="headline blue lighten-2">Colegiatura</v-card-title>
            <v-card-text>
                <v-container grid-list-xl>
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <v-autocomplete
                                v-model="student"
                                :items="items"
                                :loading="isLoading"
                                :search-input.sync="search"
                                color="white"
                                hide-no-data
                                hide-selected
                                item-text="fullname"
                                item-value="id"
                                label="Alumno"
                                placeholder="Busca el nombre del alumno o mátrícula"
                                return-object
                            ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-text-field v-model="amount" label="Cantidad" placeholder="Cantidad a pagar" prefix="$" required></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <v-select v-model="month" :items="months_items" item-text="name" item-value="value" label="Mes" placeholder="Mes al que pertenece el pago"></v-select>
                        </v-flex>

                        <v-flex xs6>
                            <v-select v-model="period" :items="periods" item-text="name" item-value="id" label="Periodo" placeholder="Periodo al que pertenece el pago"></v-select>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn :disabled="!student || !amount || !month || !period" color="white" @click="store" light>Pagar <v-icon right>payment</v-icon></v-btn>
            </v-card-actions>
        </v-card>

        <v-snackbar v-model="snackbar" top right>
            {{ snackbarText }}
            <v-btn color="blue" flat @click="snackbar = false">
                Cerrar
            </v-btn>
        </v-snackbar>

    </div>
</template>


<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                descriptionLimit: 60,
                entries: [],
                isLoading: false,
                search: null,

                tab: null,
                valid: false,
                periods: [],
                
                student: '',
                amount: '',
                month: '',
                period: '',
                

                months_items: [
                    {name: 'Enero', value: 'january'},
                    {name: 'Febrero', value: 'february'},
                    {name: 'Marzo', value: 'march'},
                    {name: 'Abril', value: 'april'},
                    {name: 'Mayo', value: 'may'},
                    {name: 'Junio', value: 'june'},
                    {name: 'Julio', value: 'july'},
                    {name: 'Agosto', value: 'august'},
                    {name: 'Septiembre', value: 'september'},
                    {name: 'Octubre', value: 'october'},
                    {name: 'Noviembre', value: 'november'},
                    {name: 'Diciembre', value: 'december'}
                ],

                snackbar: false,
                snackbarText: ''

            }
        },
        created: function() {
            this.loadPeriods();
        },
        methods: {
            loadPeriods: function() {
                axios.get('api/periods').then(response => {
                    this.periods = response.data;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            store: function() {
                axios.post('api/tuition', {
                    student: this.student.id,
                    month: this.month,
                    amount: this.amount,
                    period: this.period
                }).then(response => {
                    this.clearInputs();

                    this.snackbarText = "Pago realizado";
                    this.snackbar = true;
                }).catch(error => {
                    console.log("Error", error.data);
                });
            },
            clearInputs: function() {
                this.student = "";
                this.amount = "";
            }
        },
        computed: {
            fields () {
                if (!this.student) return []

                return Object.keys(this.model).map(key => {
                    return {
                        key,
                        value: this.model[key] || 'n/a'
                    }
                })
            },
            items () {
                for(let prop in this.entries) {
                    this.entries[prop].fullname = this.entries[prop].name + " " + this.entries[prop].lastname_first + " " + this.entries[prop].lastname_second + " #" + this.entries[prop].id;
                }
                return this.entries;
            }
        },
        watch: {
            search (val)
            {
                if (this.isLoading) return

                this.isLoading = true

                // Petición
                axios.get('api/students/search/'+val).then(response => {
                    this.count = response.data.count;
                    this.entries = response.data.entries;

                    this.isLoading = false;
                }).catch(error => {
                    console.log("Error", error.response.data);
                    this.isLoading = false;
                });
            }
        }
    }
</script>
